body {
	margin: 0;
	padding: 0;
}

header	{
	background: linear-gradient(180deg, #C2BDDD,#C2BDDD, #DDDAEC);
	display: flex;
	justify-content: flex-end;
}

.logo-text,.butt-header,.get,.gentoo-sites,.logo-menu {
	display: flex;
}


.butt-header {
	width: 50%;
	justify-content: flex-end;
	margin-right: 8%;
	font-weight: bold;
}

.logo-menu {
	width: 50%;
}


.logo-menu {
	margin-left: 8%;
}

.get {
	background-color: #54487A;
	border: 1px black solid;
	border-right: 0;
	padding: 1%;
	color: white;
	font-weight: bold;
	border-radius: 10px 0 0 10px;
}
.gentoo-sites {
	background-color: #fff;
	border: 1px black solid;
	border-left: 0;
	padding: 1%;
	color: black;
	border-radius: 0 10px 10px 0;
}

.get:hover {
	background-color: #473C67;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}


.menu-top .menu-1 {
	background-color: #54487A;
	text-align: center;

}

.menu-top ul li {
	display: inline-block;
	padding: 15px;
}

.menu-a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
 #active {
 	background-color: #62548F;
 }

 .menu-li:hover {
 	background-color: #62548F;
 }



 .menu-top .menu-2 {
	background-color: lightgray;
	text-align: center;

}

.menu-2 li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.menu-li:hover {
 	background-color: #62548F;
 }




 .banner{
 	display: flex;
 	background-image: url(banner1.jpg);
 	background-color: gray;
 	background-size: 100%;
	background-repeat: no-repeat;`
 }

 #h1-bann {
 	color: white;
 	/*background-color: black;*/
 	margin-bottom: 7%;
 }



 .banner-text {
	width: 80%;
	display: flex;
	margin-top: 2%;
	margin-left: 8%;

}
.banner-button{
	width: 20%;
	display: inline-block;
	margin-right: 8%;
	text-align: center;
	margin-top: 2%;

}

#learn-more,#get-support {
	background-color: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	
}

#get-started {
	background-color: #54487A ;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

#get-started:hover {
	background-color: #473C67;
}

#learn-more:hover,#get-support:hover {
	background-color: lightgray;
}

.cow-png,.logo-gsoc {
    float:right;
    /*margin: 3%;*/
    margin-top: 1%;
}

.main-text {
	margin-left: 8%;
	margin-right: 8%;
}

.paragraph {
	margin-left: 1em;
}

.h1-main {
	color: blue;
}
span{
	color: blue;
}

.table-background  {
	background-color: lightgray;

}

tr,td{
	padding: 0.5em;
	font-size: 12px;
	}

.left-tbl {
	margin-left: 8%;
	width: 42%;
	/*display: flex;*/
	float: left;
	height: 350px;	
	margin-top: 2%;
}

.right-tbl {
	/*display: flex;*/
	width: 42%;
	margin-right: 8%;
	float: right;
	height: 350px;
	margin-top: 2%;
}

.high {
	display: flex;
	color: white;
	font-weight: bold;
	background-color: red;
	border-radius: 4px;
	padding-top: 5px;
	margin: 5px;
	padding-bottom: 5px;
	justify-content: center;
	}

.th-tbl {
	font-size: 18px;
	float: left;
}
.images {
	display: flex;
	text-align: center;
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	justify-content: space-around;
}

.ufo-png {
	display: flex;
	justify-content: flex-end;
	background-color: #E1E1E1;
}

.ufo-png p{
	margin-right: 2%;
	color: #484848;
}

.footer-2 {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #E1E1E1;
	border-top: lightgray 0.5px solid;
	border-bottom: lightgray 1px solid;


}
.footer-2 ul li, ul ul li{
	list-style-type: none;
	color: #70678F;
}

.getting-started p,.step p{
	font-size: 20px;
}

.getting-started h1,.getting-started p{
	margin-left: 8%;
	color: #333333;
}

.step {
	display: flex;
	background-color: #B0BEC5;
	padding-bottom: 15px;

}

.step img{
	margin-top: 35px ;
	margin-right: 2%;
	margin-left: 8%;
	display: flex;
}

.step2 {
	background-color: #90A4AE;
}

.step3 {
	background-color:#54487A ;
}

.step3 p,.step3 h1{
	color: white;
}

.btn-step {
	width: 20%;
	/*display: flex;*/
	margin-right: 8%;
	text-align: center;
	margin-top: 2%;
	float: right;
}




 .st {
	width: 80%;
	display: flex;
	margin-top: 2%;
	margin-left: 2%;

}
.btn-step{
	width: 20%;
	display: inline-block;
	margin-right: 8%;
	text-align: center;
	/*margin-top: 2%;*/

}

.cards,	.cards-button div{
	/*display: flex;*/
	width: 25%;
	/*margin:;*/
	/*background-color: gray;
	border: 1px solid;*/
	padding-left: 1%;
}

.after-inst,.cards-button {
	display: flex;
}

.card1,.cards-h1,.card-btn1 {
	margin-left: 8%;
}

.card4,.card-btn4 {
	margin-right: 8%;
}

.cards-button div p{
	margin: 0;
	margin-bottom: 5%;
	margin-right: 10px;
	padding-bottom: 3%;
	padding-top: 3%;
	color: white;
	font-weight: bold;
	border-radius: 7px;
	text-align: center;
	background-color: #54487A;
}

.cards-button div p:hover {
	background-color: #473C67;
}

.after-inst div p {
	font-size: 18px;
}

.menu-2 li:hover {
	background-color: white;
}